<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>ONU Remove</title>
</head>
<body>
  <div class="body">
    <header>
      <div>O</div>
      <div>L</div>
      <div>T</div>
      <span>Management Functions</span>
    </header>
    <section class="onu-remove">
      <div class="container">
        <h2>REMOVER ONU</h2>
        <form action="http://{{ my_list[1] }}:{{ my_list[2] }}/removeonu" method="get">
          <label for="olts">LOCALIDADE:</label>
          <Select name="olts" class="olts">
            {% for n in my_list[0] %}
                <option>{{n['name']}}</option>
            {% endfor %}
          </Select>
          <label for="" title="Didite o Serial do equipamento">Serial:</label>
          <input title="Didite o Serial do equipamento" type="text" name="serial" id="serial" placeholder="Ex: ITBS32548741" required />
          <div class="btn-delete">
              <button type="submit">Remover</button>
          </div>
        <div class="btn-delete">
                {% for message in get_flashed_messages() %}
                    <div class="alert-error" style="margin-top: 20px">Erro: {{ message }}</div>
                {% endfor %}
            </div>
        </form>
      </div>
    </section>
    <footer>
      <div>
        <h3>© NOC Solutions - 2021</h3>
        <p>Ver. 1.0</p>
      </div>
    </footer>
</body>
</html>