<html xmlns="http://www.w3.org/1999/html">
<head> Great Success! </head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<body>
    <div class="body">
        <section class="onu-remove">
            <div class="container">
                 <form action="http://{{ passed_data[0] }}:{{ passed_data[1] }}/selremove" method="get">
                     {{passed_data[2]}}
                     <div class="btn-delete">
                        <button style="margin-top: 20px" type="submit">Voltar</button>
                    </div>
                </form>
            </div>
        </section>
</body>
</html>