<html xmlns="http://www.w3.org/1999/html">
<head> Great Success! </head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<body>
    <div class="body">
        <section class="onu-remove">
            <div class="container">
                 <form action="http://172.16.254.18:5000/selremove" method="get">
                     {% for message in passed_data %}
                         {% if message[1] == 'REMOVE OK' %}
                                <br>"{{ message[0] }} === ONU removida com sucesso"
                         {% endif %}
                         {% if message[1] == 'NOT REMOVE' %}
                                <br>"{{ message[0] }} === Falha ao remover ONU"
                         {% endif %}
                         {% if message[1] == 'NOT FOUND' %}
                                <br>"{{ message[0] }} === ONU não encontrada"
                        {% endif %}
                     {% endfor %}
                     <div class="btn-delete">
                        <button style="margin-top: 20px" type="submit">Voltar</button>
                     </div>
                </form>
            </div>
        </section>
</body>
</html>